@model WebSite.ViewModels.Account.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Password reminder";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-wrap">
                <div class="login-logo">
                    <img src="http://placehold.it/100x100/?text=LOGO" alt="" />
                </div>
                <h2 class="login-header">Reset your password</h2>
                <div class="panel panel-default panel-login">
                    <div class="panel-body">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                        {
                            <p>Enter your email address and we will send you a link to reset your password.</p>

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send link</button>
                        }
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <a href="@Url.Action("LogIn")">Back to Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>